<div class="participation">

  <div class="background_image">

    <div class="participation_title">
      <h1> Planifier ma session </h1>
      <h3>Du <%= @activity.date_time_start.strftime("%d/%m/%Y")%></h3>
    </div>

    <div class="participation_form">
      <%= render "participations/form" %>

    </div>
  </div>


</div>
