<div class="show-participation">

  <div class="banner">

    <div class="participation-content">
      <h1>Profite de ta session !</h1>
      <h3>Ton contact préferé sera notifié <%= @activity.date_time_start.strftime("%d/%m/%Y à %Hh %M")%> quand tu partiras pour ta session. Il recevra une nouvelle notification si tu n'a pas validé ton retour.</h3>
    </div>

  </div>
<%= render 'shared/navbar' %>
</div>
