<div class= show-participation>

  <div class=  participation-content>
    <h1> Enjoy your session !</h1>
    <h2> Your loved one will be notified on Monday at 3pm that you are leaving your session and will receive a notification if you have not validated the end of your session</h2>
  </div>

</div>


<%= render 'shared/navbar' %>
