<div class="show-participation">

  <div class="banner">
    <div class="participation-content">
      <h1>Profite de ta session !</h1>
      <%= link_to video_path do %>
        <h3><%= @participation.contact.name %> a été notifié le <%= @activity.date_time_start.strftime("%d/%m/%Y à %Hh%M")%> de ton départ en session ! Pense à le prévenir à ton retour. Il recevra un nouveau message si tu n'as pas validé la fin de ta session.</h3>
      <% end %>
    </div>
  </div>
<%= render 'shared/navbar' %>
</div>
