<div class="toto">

  <div class="banner">

    <div class="participation-content">
      <h1>Profite de ta session !</h1>
      <h3>Ton contact préferé sera notifié le Lundi 22 mai à 15h que tu pars pour ta session et recevra une nouvelle notification si tu n'a pas validé ton retour.</h3>
    </div>

  </div>
</div>

<%= render 'shared/navbar' %>
