<div class= show-spot >

  <div class="banner">
    <div class="container">
      <h1>Le savais-tu ?</h1>
      <h3>La Côte des Basques</h3>
    </div>
  </div>


  <div class= "spot-details">

    <div class="spot-content">
      <h2>SPOT INFOS</h2>
      <div class="spot-div">
        <p>La digue permet de rejoindre le peak facilement</p>
      </div>

      <div class="spot-div">
        <p>Spot pour longboards</p>
      </div>

      <div class="spot-div">
        <p>Danger à marée haute</p>
      </div>

      <div class="spot-div">
        <p>Spot très fréquenté par les débutants, les longboards et les paddle </p>
      </div>

      <div class="spot-div">
        <p>Conseil : bien connaître les règles de prorité</p>
      </div>

      <div class="spot-div">
        <p>Le Roxy Pro s’est déroulé ici en 2015</p>
      </div>

    </div>

    <div class="btn-join-back">
      <%= link_to 'Back', onclick: "window.history.back();", id: "icone-arrow" do %>
        <h2 class="btn-small" >Back</h2>
      <% end %>
    </div>

  </div>

</div>
