<div class="dashboard">
  <div class="top">
    <h1>Mes sessions <span class="highlight">favorites</span></h1>
  </div>
  <div class="div-favoris">
    <% if @favorites.count == 0  %>
      <h1 style="color:#0A376E" class="main-title">Pas encore de favoris</h1>
      <%= link_to "Ajouter des favoris", activities_path, id: "add-fav"%>
    <% else %>
      <% @favorites.each do |favory| %>
        <%= render 'shared/session_card', activity: favory %>
      <% end %>
    <% end %>
  </div>
</div>
<%= render 'shared/navbar' %>
<style>
.dashboard {
 background-image: none !important;
}
.div-favoris {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#add-fav {
  font-weight: 700;
  font-size: 18px;
  background-color: #FF6363;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div-favoris .main-title  {
  margin-top: 25px;
  background-color: white;
  border-radius: 8px;
  padding: 10px 20px;
  width: 360px;
  text-align: center;
  color: white;
}
</style>
