.background_image {
  background-image: url(shaka.jpg);
  background-position: center;
  background-size:cover;
  position: absolute;
  width: 100%;
  height: 60%;
}



.participation_title {
  padding: 15px 20px;
  width: 350px;
  height: 150px;
  margin: auto;
  h1 {
    margin-top: 20px;
    border-radius: 8px;
    text-align: center;
    background-color: $pink;
    color: white;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 25px;
    padding: 10px 15px;
  }

  h3 {
    margin-bottom:150px;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 25px;
  }
}

.participation_form {
    z-index: 100;
    position: fixed;
    bottom: 0%;
    height: 45%;
    width: 100%;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;

  .form-label {
    color: #0A376E;
    font-weight: bold;
    margin-top: 15px;
    font-size: 18px;
  }

  .button, [type="button"], [type="reset"], [type="submit"]{
    font-family: 'Montserrat';
    color: white;
    height: 44px;
    width: 143px;
    font-weight: 700;
    font-size: 20px;
    background-color: #FF6363;
    border-color: #FF6363;
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    }

  .form-select {
    border-radius: 8px;
    font-size: 12px;
    align-items: center;
    background-color: white;
    color: #0A376E;
    align-items: center;
    option {
      font-size: 12px;
      background-color: white;
      border: none;
      color: #0A376E;

    }
  }
  .btns {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    line-height: 0;
    .btn-small {
      margin-top: 9px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-family: 'Montserrat';
      color: #0A376E;
      height: 33px;
      width: 108px;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      background-color: #D9D9D9;
      padding: 9px, 37px, 9px, 37px;
      border-radius: 8px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

}
