.background_image {
  background-image: url(shaka.jpg);
  background-position: center;
  background-size:cover;
  position: absolute;
  width: 100%;
  height: 60%;
 }



.participation_title {
  h1 {
    margin-top:60px;
    margin-right: 65px;
    margin-left: 65px;
    border-radius: 8px;
    text-align: center;
    background-color: $pink;
    color: white;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 25px;
  }
}

.participation_form {
    z-index: 100;
    position: fixed;
    bottom: 0%;
    height: 45%;
    width: 100%;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;

  .form-label {
    color: #0A376E;
    font-weight: bold;
    margin-top: 15px;
    font-size: 18px;
  }

  .button, [type="button"], [type="reset"], [type="submit"]{
    font-family: 'Montserrat';
    color: white;
    height: 44px;
    width: 143px;
    font-weight: 700;
    font-size: 20px;
    background-color: #FF6363;
    border-color: #FF6363;
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    }

  .form-select {
    border-radius: 8px;
    font-size: 12px;
    align-items: center;
    background-color: white;
    color: #0A376E;
    align-items: center;
  }

}
