.pres-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  a {
    text-decoration: none;
  }
  #btn-login {
    display: flex;
    padding: 25px 30px;
    color: white;
    height: 40px;
    width: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 150px;
    background-color:#ffffff2d !important;
  }
  .title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    padding: 15px 20px;
    font-size: 28px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 80px;
    background: linear-gradient(176.75deg, #FF1569 -3.78%, rgba(243, 64, 132, 0) 97.32%);
    border-radius: 8px;
  }
}
