.new-contact {

  .contact-title {
    h1 {
      margin-top: 40px;
      margin-right: 35px;
      margin-left: 44px;
      margin-bottom: 50px;
      border-radius: 8px;
      text-align: center;
      background-color: #FF1569;
      color: white;
      font-weight: bold;
      font-family: Montserrat;
      font-size: 20px;
      height: 62px;
      width: 80%;
      display: flex;
      align-items: center;
    }

  }

  .contact-background {
    background-image: url(beach.jpg);
    background-position: center;
    background-size:cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .contact-form {
    position: fixed;
    height: 50%;
    width: 80%;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgba(255, 255, 255, 0.777);
    border-radius: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .contact-inputs {
    font-family: Montserrat;
    color: #0A376E;
    font-weight: 500;

    .my-button {
      display: flex;
      font-family: 'Montserrat';
      color: white;
      height: 35px;
      width: 115px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      background-color: #FF6363;
      border-color: #FF6363;
      border-style: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      justify-content: center;
      align-items: center;
      margin-top: 35px;
    }

  }

}
