.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(app/assets/images/test.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  #btn-logout {
    display: flex;
    color: white;
    height: 40px;
    padding: 15px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    background-color: #FF6363;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
  }
  a {
    text-decoration: none !important;
  }
  .session-card {
    background-color: #ff156b65;
    border-radius: 15px;
    .session-bottom {
      align-items: stretch;
      display: flex;
      line-height: 0;
      justify-content: center;
      p {
        margin-top: 10px;
        text-decoration: none;
        line-height: 0;
      }
      .pink {
        line-height: initial;
      }
    }
  }
  .session-image {
    border-radius: 8px;
  }
  .top {
    background-color: $blue;
    width: 100%;
    height: 120px;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0px 0px 30px 30px;
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 1;
      color: white;
      .highlight {
        padding: 5px 10px;
        background-color: $pink;
        border-radius: 8px;
      }
    }

  }
  .incoming {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 1;
      color: $blue;
      .highlight {
        padding: 5px 5px;
        border: $pink 3px solid;
        background-color: white;
        border-radius: 8px;
        color: $blue;
      }
    }
  }
}
