.show-participation {
  background-image: url(https://images.https://unsplash.com/photos/mIVVo-wVNxQ);
  background-size: contain;
  background-position: top;

  .participation-content {
    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-family: Montserrat;
      width: 114px;
      height: 34px;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 0em;
      text-align: center;
      background: #FF1569;
      border-radius: 8px;
      text-decoration: none;
    }

    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      color:#0A376E;
      font-family: Montserrat;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 0em;
      text-align: center;
    }

  }

}
