.profile {
  .background_edit {
    background-image: url(beach.jpg);
    background-position: center;
    background-size:cover;
    position: absolute;
    width: 100%;
    height: 100%;

    .mon-profil {
      display: flex;
      justify-content: center;
    }
    .mon-profil-header {
      margin-top: 40px;
      text-align: center;
      h1 {
      color: white;
      font-family: Montserrat;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 0em;
      display: flex;
      align-items: center;
      align-content: center;
      background: #FF1569;
      border-radius: 4px;
      padding: 0 2vmin;
      padding: 7px;
      }
    }

    .user-picture-name {
      width: auto;
      height: 220px;
      margin: 30px;
      padding: 50px;
      border-radius: 8px;
      background: linear-gradient(176.75deg, #FF6363 -3.78%, #fed11c68 97.32%);
      align-items: center;
      margin-bottom: 8px;
      padding: 0px;
    }

      .form-actions-1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: Montserrat;
        color: white;
        height: 30px;
        width: 120px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        background-color: #FF6363;
        border-radius: 8px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    .avatar {
      margin-left: 20px;
      margin-bottom: 170px;
      width: 110px;
      align-items: center;
      border-radius: 50%;
    }

    .name {
      margin-top: 20px;
      color: white;
      font-family: Montserrat;
      display:inline-block;margin-left:1em;
    }

    .title-contact {
      display: flex;
      justify-content: center;
    }
    .title-contact-header {
      margin-top: 30px;
      text-align: center;
      h1 {
      color: white;
      font-family: Montserrat;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 0em;
      display: flex;
      align-items: center;
      align-content: center;
      background: #FF1569;
      border-radius: 4px;
      padding: 7px;
      }
    }

    .contact {
      margin: 30px;
      padding: 50px;
      border-radius: 8px;
      background: linear-gradient(176.75deg, #FF1569 -3.78%, rgba(243, 64, 132, 0) 97.32%);

        p {
          color: white;
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 0em;
          text-align: center;
        }
      }
    }

      .form-box {
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        // margin-right: 40px;

        .iconify {
          font-size: 45px;
          color: white;
        }
      }

      .contact-name {
        height: 20%;
        width: 20%;
        background-color: rgba(255, 255, 255, 0.777);
        border-radius: 8px;
        font-family: Montserrat;
        align-items: center;
        display: flex;
        flex-direction: column;

      .box-name {
        display: flex;
        flex-direction: column;
      }

        p {
          color:#0A376E;
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 0em;
          text-align: center;
        }
      }


    .form-actions {
      text-align: center;
      font-family: 'Montserrat';
      justify-content: center;
      display: flex;
      color: white;
      font-weight: 700;
      font-size: 20px;
      background-color: #FF6363;
      border-color: #FF6363;
      border-style: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      position: absolute;
      bottom: 50px;
      }

      .log-out {
        display: flex;
        justify-content: center;
          .btn {
          margin-top: 40px;
          text-align: center;
          font-family: 'Montserrat';
          color: white;
          font-weight: 700;
          font-size: 22px;
          background-color: #FF6363;
          border-radius: 8px;
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
          }
      }
