.profile {
  .background_edit {
    background-image: url(beach.jpg);
    background-position: center;
    background-size:cover;
    position: absolute;
    width: 100%;
    height: 100%;

    .user-name {
        margin-top:40px;
        margin-right: 100px;
        margin-left: 100px;
        border-radius: 8px;
        text-align: center;
        align-items: center;
        background-color: $pink;
        color: white;
        font-weight: bold;
        font-family: Montserrat;
        font-size: 20px;
    }

    .user-picture-name {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      padding: 8px 16px;
    }

    .emergency-contact{
        color: white;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;
        background: #FF1569;
        border-radius: 4px;
      }

      .form-actions-1 {
        text-align: center;
        font-family: 'Montserrat';
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 14px;
        background-color: #FF6363;
        border-color: #FF6363;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 8px 8px;
      }
    }

    .avatar {
      margin-top: 20px;
      margin-left: 20px;
      margin-bottom: 20px;
      width: 100px;
      border-radius: 50%;
    }

    .name {
      color: #0A376E;
      font-family: Montserrat;
      display:inline-block;margin-left:1em;
      font-weight: bold;
    }

    .title-contact {
      h1 {
        width: 300px;
        color: white;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;
        background: #FF1569;
        border-radius: 4px;
      }
    }

  .contact {
    position: fixed;
    height: 20%;
    width: 80%;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgba(255, 255, 255, 0.339);
    border-radius: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-content: center;

    .carousel-inner {
      padding: 20px;
      width: 50%;
      height: 50%;
      border-radius: 8px;
      margin: auto;
      background: linear-gradient(176.75deg, #FF1569 -3.78%, rgba(243, 64, 132, 0) 97.32%);

      p {
        color:#0A376E;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;
      }
    }
  }


    .contact-name {
      height: 20%;
      width: 20%;
      background-color: rgba(255, 255, 255, 0.777);
      border-radius: 8px;
      font-family: Montserrat;
      align-items: center;
      display: flex;
      flex-direction: column;

    .box-name {
      display: flex;
      flex-direction: column;
    }

      p {
        color:#0A376E;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;
      }
    }


  .form-actions {
    text-align: center;
    font-family: 'Montserrat';
    justify-content: center;

    display: flex;
    color: white;
    font-weight: 700;
    font-size: 20px;
    background-color: #FF6363;
    border-color: #FF6363;
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    position: absolute;
    bottom: 50px;
  }

  .form-box {
    position: fixed;
    height: 20%;
    width: 80%;
    padding: 20px;
    margin-bottom: 220px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgba(255, 255, 255, 0.339);
    border-radius: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    bottom: 50px;

    .iconify {
      font-size: 50px;
      color: white;
    }
  }
}
