.sessions-index {
  // background-color: red;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.map {
  background-image: url("https://images.unsplash.com/photo-1509818139432-c67e4197a914?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  z-index: 0;
}

.cards-container {
  position: fixed;
  bottom: 0;
  height: 55%;
  width: 100%;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 0 20px 20px 20px;
}

.card-session-overlay {
  position: sticky;
  top: 0;
  height: 30px;
  width: 100%;
  background-color: white;
}

.card-session-top {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
