.show-spot {
  width: 100%;
  height: 100vh;
  a {
    text-decoration: none;
  }
  h1 {
    color: white;
    height: 34px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0em;
    padding: 20px;
    display: flex;
    text-align: center;
    background: #FF1569;
    border-radius: 8px;
    text-decoration: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0A376E;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0em;
    margin-top: 15px;
  }

  h3 {
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 16px;
  }


  p {
    color:#0A376E;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0em;
    margin-block-start: auto;
    margin-block-end: auto;
    text-align: center;
  }

  .banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 38vh;
    position: fixed;
    width: 100%;
    height: 400px;
    top: 0;
    box-shadow: 0px -5000px 20px 0px #004cff29 inset;
    align-items: center;
  }


  .spot-details {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: column;
    background-color: white;
    border-radius: 38px 38px 0px 0px;
    padding: 12px;
    justify-content: space-between;
    width: 100%;
    height: 600px;
  }

  .spot-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    align-items: center;
    .spot-div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 12px;
    }
  }

  .btn-join-back {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    align-content: center;
    text-decoration: none;
    h2:nth-child(1) {
      margin-top: 5px;
      line-height: 1;
      text-decoration: none;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-family: 'Montserrat';
      color: #0A376E;
      height: 35px;
      width: 109px;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      background-color: #D9D9D9;
      border-radius: 8px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }


}
