<div class="session-favorites" data-action="click->favorites#favorise" data-favorites-target="favoris">
  <% if current_user.favorite_for(activity) %>
    <span class="iconify" style="color:red" data-icon="bi:heart-fill"></span>
  <% else %>
    <span class="iconify" data-icon="bi:heart">heart</span>
  <% end %>
</div>
<style>
.session-favorites {
  z-index: 1000;

}
</style>
