<div class="navbar">

  <div class="navbar-btn" >
    <a href="/activities"><span class="iconify" data-icon="bi:search">sessions</span></a>
    <label>sessions</label>
  </div>

  <div class="navbar-btn">
    <span class="iconify" data-icon="bi:heart">favorites</span>
    <label>favorites</label>
  </div>

  <div class="navbar-btn">
    <a href="/dashboard
"><span class="iconify" data-icon="carbon:wave-height">dashboard</span></a>
    <label>dashboard</label>
  </div>


  <div class="navbar-btn">
    <span class="iconify" data-icon="bi:chat-square"></span>
    <label>messages</label>
  </div>

  <div class="navbar-btn">
    <a href="/profile">
    <span class="iconify" data-icon="iconoir:profile-circled"></span></a>
    <label>profile</label>
  </div>

</div>
