<div class="participation-card" style="background-image: url(<%= participation.activity.spot.photo.attached? ? cl_image_path(participation.activity.spot.photo.key) : asset_path("surfer.jpg") %>)">
  <h1>Session du <%= participation.activity.date_time_start.strftime("%d/%m/%Y à %Hh %M")%></h1>
  <h2>Préviens <%= participation.contact.name %> que ta session est terminée !</h2>
  <div class="session-terminee">
    <h3 class="text-terminee">session terminée !</h3>
  </div>

  <%= link_to activity_path(participation.activity) do%>
  <div class="show-session-btn">
    <h3 class="text-session">voir la session</h3>
  </div>
  <% end %>
</div>
<% console %>
