<div class="session-card">
  <div class="session-image">
    <div class="session-left">
    </div>
    <div class="session-right">
      <div class="session-favorites">
      </div>
      <div class="session_flag">
      </div>
    </div>
  </div>
  <div class="session-bottom">
    <p> 16 juin • La cote des basques • 3 km</p>
  </div>
</div>
