<div class="session-card">
  <div class="session-image">

    <div class="session-left">
      <div class="categorie-session">
        <span class="iconify" data-icon="arcticons:weather">soleil</span>
        <h6>22°</h6>
      </div>

      <div class="categorie-session">
        <span class="iconify" data-icon="carbon:temperature-water">eau</span>
        <h6>16°</h6>
      </div>

      <div class="categorie-session">
        <span class="iconify" data-icon="map:surfing">surfers</span>
        <h6>+2</h6>
      </div>

      <div class="categorie-session">
        <span class="iconify" data-icon="emojione-v1:water-wave"></span>
        <span class="iconify" data-icon="emojione-v1:water-wave"></span>
      </div>
    </div>


    <div class="session-right">
      <div class="session-favorites">
        <span class="iconify" data-icon="bi:heart">heart</span>
      </div>
      <div class="session-flag">
        <span class="iconify" data-icon="ooui:flag-rtl">flag</span>
      </div>
    </div>

  </div>

  <div class="session-bottom">
    <p> 16 juin • La Cote des Basques • 3 km</p>
  </div>
</div>
