<div class="session-card">
  <div class="session-image">

    <div class="session-left">
      <div class="categorie-session">
        <span class="iconify" data-icon="arcticons:weather">soleil</span>
        <h6><%= session.temp %>°</h6>
      </div>

      <div class="categorie-session">
        <span class="iconify" data-icon="carbon:temperature-water">eau</span>
        <h6><%= session.water_temp %>°</h6>
      </div>

      <div class="categorie-session">
        <span class="iconify" data-icon="map:surfing">surfer</span>
        <h6>+2</h6>
      </div>

      <div class="categorie-session">
        <% waves_number = session.wave_height * 2 %>
        <% waves_number.times do %>
          <span class="iconify" data-icon="emojione-v1:water-wave">wave</span>
        <% end %>
      </div>

    </div>


    <div class="session-right">
      <div class="session-favorites">
        <span class="iconify" data-icon="bi:heart">heart</span>
      </div>
      <div class="session-flag">
        <span class="iconify" data-icon="ooui:flag-rtl">flag</span>
      </div>
    </div>

  </div>

  <div class="session-bottom">
    <p> <%= session.flag %></p>
  </div>
</div>
