<div class="dashboard">
  <div class="top">
    <h1>Dashboard de <span class="highlight"><%= @user.name %></span></h1>
  </div>
  <div class="incoming">
    <h3 class="main-title">Sessions a ce jour: <span class="highlight"><%= @my_future_participations.count %></span></h3>
  <% @my_future_participations.each do |participation| %>
    <%= render 'shared/participation_card', participation: participation %>
  <% end %>
  </div>
  <%= render 'shared/navbar' %>
</div>
