<h1>Aloha <%= @user.name %></h1>
<h3>Mes sessions à venir: <%= @my_future_participations.count %></h3>
<% @my_future_participations.each do |participation| %>
  <%= render 'shared/participation_card', participation: participation %>
<% end %>
<%= render 'shared/navbar' %>
