<h1>Take Off</h1>
<h2>salut</h2>

<%= render 'shared/navbar' %>
<%= link_to"Les sessions" , activities_path %>
<%= link_to"Le dashboard" , dashboard_path %>
<%= link_to"Admin Panel" ,  rails_admin_path %>
