<div class="pres-page" style="background-image: url(<%= asset_path("session.gif") %>)">
<%= link_to "sortir de l'eau", dashboard_path, id: "btn-login" %>
</div>
<style>
#btn-login {
 background-color:#ffffff5b !important;
}

</style>
