<div class="pres-page" style="background-image: url(<%= asset_path("session.gif") %>)">
<h1 class="title">Session en cours </h1>
<%= link_to "sortir de l'eau", dashboard_path, id: "btn-login" %>
</div>
<style>

</style>
