<div class= "new-contact">


  <div class= "contact-background">
    <div class="contact-title" >
      <h1>Ajoute un nouveau contact d'urgence</h1>
    </div>

    <div class= "contact-form">

      <div class="contact-inputs">

        <%= simple_form_for([@contact]) do |f| %>
          <%= f.input :name, :label => "Ajouter un nom :" %>
          <%= f.input :tel, :label => "Ajouter un numéro de téléphone: +33" %>
          <div class="contact-actions">
            <%= f.submit "Confirmer" %>
          </div>
        <% end %>

      <div>

    </div>

  </div>

</div>
