<div class="not_found" style="background-image: url(https://media4.giphy.com/media/xX1dwuf8LN9YI/giphy.gif?cid=ecf05e47q4b5jnxue4xn3p9rbojztcfwicyv09tg8qz3lc8c&rid=giphy.gif&ct=g)">
  <h1>Oops Big Wipeout,<br> Il y a eu une erreur</h1>
  <%= link_to "back home", activities_path, id: "btn-login" %>
</div>
