.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


// Custom Navbar
.navbar {
  z-index: 1000;
  background-color: $blue;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  border-top: 1px white solid;
  display: flex;
  justify-content: space-around;
  .navbar-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    label {
      color: white;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 8px;
      line-height: 10px;
      margin-top: 5px;
    }
  }
  .iconify {
    color: white;
    width: 40px;
    height: 40px;
  }
}


#pending {
  margin-left: -30px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $yellow;
  color: $black !important;
  padding: 5px;
  border-radius: 50%;
  line-height: 1;
  height: 20px;
  width: 20px;
}
#reserv {
  height: 20px;
  width: 20px;
  margin-left: 12px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $pink;
  padding: 5px;
  border-radius: 50%;
  line-height: 1;
  color: white !important;
}
