<div class= show-session>

  <div class="banner">
    <div class="container">
      <h1>Session</h1>
      <h2>La côte des basques</h2>
    </div>

  </div>

  <div class="btn-spot">
    <a class="btn-big" href="#">Afficher le spot</a>
  </div>

  <div class= "session-details">

    <div class="session-content">
      <i class="iconify" data-icon="carbon:wave-height"></i>
      <p>Environ 1 mètre de vague</p>

      <i class="iconify" data-icon="carbon:skill-level-basic"></i>
      <p>Niveau: moyen à confirmé</p>

      <i class="iconify" data-icon="carbon:wave-period"></i>
      <p>Info marée : surfer entre 9h et 12h</p>

      <i class="iconify" data-icon="akar-icons:info"></i>
      <p>Spot très fréquenté mais très accessible pour les débutants</p>

      <i class="iconify" data-icon="arcticons:night-light"></i>
      <p>Longboard, combinaison 3-2</p>

    </div>

    <div class= "buddies">
      <span class="iconify" data-icon="map:surfing"></span>
      <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
    </div>

    <div class="btn-join-back">
        <a class="btn-small" href="#"> < back</a>
        <a class="btn-medium" href="#">join</a>
    </div>

  </div>


</div>
