<div class= show-session>

  <div class="banner">

    <div class="container">
        <h1>Session</h1>
        <h2>La côte des basques</h2>
    </div>

    <div class="btn-spot">
        <a class="btn-big" href="#">Afficher le spot</a>
    </div>

  </div>

  <div class= "session-details">

    <div class=session-content>
      <span class="iconify" data-icon="carbon:wave-height"></span>
      <span><p Environ 1 mètre de vague> </p></span>
      <span class="iconify" data-icon="carbon:skill-level-basic"></span>
      <p Niveau moyen à confirmé> </p>
      <span class="iconify" data-icon="carbon:wave-period"></span>
      <p Info marée : surfer entre 9h et 12h> </p>
      <span class="iconify" data-icon="arcticons:night-light"></span>
      <p Spot très fréquenté mais accessible pour les niveaux débutants> </p>
      <span class="iconify" data-icon="akar-icons:info"></span>
      <p Longboard, combinaison 3-2> </p> </span>
    </div>

    <div class= "buddies">
      <span class="iconify" data-icon="map:surfing"></span>
      <span class="iconify" data-icon="carbon:user-avatar-filled"></span><span class="iconify" data-icon="carbon:user-avatar-filled"></span><span class="iconify" data-icon="carbon:user-avatar-filled"></span><span class="iconify" data-icon="carbon:user-avatar-filled"></span><span class="iconify" data-icon="carbon:user-avatar-filled"></span>
    </div>

    <div class="btn-join-back">
      <a class="btn-small" href="#"> < back</a>
      <a class="btn-medium" href="#">join</a>
    </div>

  </div>

</div>
